@{
    ViewBag.Title = "Users";
}


@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.displayMenu == "Yes")
    {
        <h2>Welcome Admin. Here are the current users and their roles:</h2>
        <h3>
            LIST GOES HERE
        </h3>
    }
    else
    {
        <h2>  Unauthorized. </h2>
        <h3>
            You need to be an administrator to access this page.
        </h3>
    }
}
else
{
    <h2>  Unauthorized. </h2>
    <h3>
        Please log in or register to access this page.
    </h3>
}
