@{
    /**/

    ViewBag.Title = "Manage Users";
}

<div class="jumbotron">
    <h1>Tumor App - Manage</h1>
    <p class="lead">Use the links below to manage Users and Roles</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.displayMenu == "Yes")
    {
        <div class="row">
            <div class="col-md-6">
                <h2>Manage Users</h2>
            </div>
        </div>
        <div>
            TABLE OF USERS GOES HERE
        </div>

    }
    else
    {
        <h2>  Unauthorized. </h2>
        <h3>
            You need to be an administrator to access this page.
        </h3>
    }
}
else
{
    <h2>  Unauthorized. </h2>
    <h3>
        Please log in or register to access this page.
    </h3>
}





