@model IEnumerable<TumorTaskforce_Webapp_1.Patient>

@{
    ViewBag.Title = "Compare";
}

<div class="jumbotron">
    <h1>Compare</h1>
    <p class="lead">Enter patient details below</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        patient details entered here...<br />
        including related items
    </p>
    
}
else
{
    <h2>  Unauthorized. </h2>
    <h3>
        Please log in or register to access this page.
    </h3>
}