@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tumor App </h1>
    <p class="lead">Use the links above to navigate.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.displayMenu == "Yes")
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Could Not Delete</h2>
                <p>
                    The delete operation could not be performed. <br />
                    Check to see if the data you are trying to delete is currently applied to a patient.<br />
                    If so, remove the data from the patient and try again.<br />
                </p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <p>
            Click @Html.ActionLink("Here", "Manage") to manage possible data entries for patients.<br />
        </p>
}
else
{
<h2>  Unauthorized. </h2>
<h3>
    You need to be an administrator to access this page.
</h3>
}
}
else
{
<h2>  Unauthorized. </h2>
<h3>
    Please log in or register to access this page.
</h3>
}


