@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brain Tumor Application </h1>
    <p class="lead">Welcome! Use the links above to navigate.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desciption</h2>
		<p>
			We have compiled a database of existing patients and have created a comparison algorithm to analyze patterns between certain variables involved in each patients condition and the effects on the success rate of a variety of treatments. We have also created a user interface that allows users to login or register to gain access to the database showing them the conclusions of our comparison algorithm, as well as allow them to input information regarding a specific patient and receive both a computative analysis of the patients conditions and a recommended course of action calculated using the database.
		</p>
    </div>
	<div class="col-md-4">
		<h2>Get to Know Us</h2>
		<p>
			Team Leader- Laura Glessner
		</p>
		<img src="~/Images/me.JPG" alt="Picture of Laura." style="width:120px;height:160px;" />
		<p>
			Client Representative- Mabel Jaindl
		</p>
		<img src="~/Images/Mabel.JPG" alt="Picture of Mabel." style="width:150px;height:160px;" />
		<p>
			Researcher- Burdell Fitzgerald
		</p>
		<img src="~/Images/Burdell.JPG" alt="Picture of Burdell." style="width:130px;height:150px;" />
		<p>
			Editor- Taylor Clingenpeel
		</p>
		<img src="~/Images/Taylor.JPG" alt="Picture of Taylor." style="width:150px;height:160px;" />
		<p>
			Tester- Brian Sanders
		</p>
		<img src="~/Images/Brian.JPG" alt="Picture of Brian." style="width:150px;height:160px;" />

	</div>
    <div class="col-md-4">
        <h2>Let Us Help You</h2>
        <p>
            Have a question? We would love to help. Please call us anytime at our help desk 801-405-3356. 
        </p>

		<p>
			Access our code at https://github.com/SCCapstone/TumorTaskforce 
		</p>
    </div>
</div>
