<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: tumortaskforce -->
        <add key="tumortaskforce_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tumortaskforce;AccountKey=Wi+Ph1fuVKvlA121xI0tCT/CUyU0jL2FWL3dL4dz91/CUdFtetkFvkLUYIT3HZkY+AQN36pPcsBMv9ocvx4KBg==" />
    </appSettings>
</configuration>